<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <variable name="logDirectory" value="${basedir}/logs"/>

  <targets>
    <target xsi:type="ColoredConsole" name="console" layout="[${date:format=HH\:mm\:ss}][${pad:padCharacter= :padding=5:fixedLength=true:inner=${level}}]: ${message} ${onexception: -> ${exception:format=type,message,method;maxInnerExceptionLevel=5;innerFormat=shortType,message,method}}"/>
    <target name="file"
            xsi:type="File"
            fileName="${logDirectory}/bot.log"
            layout="${date:format=HH\:mm\:ss} | ${pad:padCharacter= :padding=5:fixedLength=true:inner=${level}}| ${logger} |${newline}       ${message} ${onexception: -> ${exception:format=type,message,method;maxInnerExceptionLevel=5;innerFormat=shortType,message,method} | ${stacktrace}} "
            archiveFileName="${logDirectory}/archives/archive.bot.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7" />
    <target 
      name="jsonFile" 
      xsi:type="File" 
      fileName="${logDirectory}/bot.json"
      archiveFileName="${logDirectory}/archives/bot.{##}.json"
      archiveEvery="Day"
      archiveNumbering="Rolling"
      maxArchiveFiles="7" 
      >
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="exception" layout="${onexception: -> ${exception:format=type,message,method;maxInnerExceptionLevel=5;innerFormat=shortType,message,method} | ${stacktrace}" />
      </layout>
    </target>
  </targets>

  <rules>
    

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />

    <logger name="*" writeTo="console" />
    <logger name="*" writeTo="file" />
    <logger name="*" writeTo="jsonFile" />
  </rules>
</nlog>